<div
  *ngIf="album"
  class="container mx-auto flex flex-col items-center w-3/6 gap-8"
>
  <div class="flex flex-col justify-center gap-6">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl uppercase tracking-wider font-semibold">
        {{ album.title }}
      </h1>
      <p class="text-start text-3xl text-gray-600">{{ album.releaseYear }}</p>
    </div>
    <p class="text-2xl tracking-wide font-thin">{{ album.description }}</p>
  </div>

  <div class="flex justify-between items-center gap-8 w-full h-96">
    <img [src]="album.coverUrl" [alt]="album.title" class="h-96" />
    <ul
      class="w-fit flex flex-col gap-1 bg-zinc-950 p-6 rounded border-opacity-30 border-gray-600 border-2 h-fit max-h-full overflow-y-auto flex-grow"
    >
      <li *ngFor="let track of album.tracks" class="flex justify-start gap-8">
        <div class="flex gap-3">
          <span class="w-4 text-gray-600 font-thin">{{ track.number }}.</span>
          <span class="tracking-wide">{{ track.title }}</span>
        </div>
        <span class="ml-auto text-gray-600 font-thin tracking-wide">{{
          track.duration
        }}</span>
      </li>
    </ul>
  </div>
</div>
