<!-- <aside
  *ngIf="isFormVisible"
  class="fixed z-50 flex gap-3 flex-col items-center justify-between p-5 text-zinc-950 bg-gradient-to-bl from-gray-400 to-gray-300 rounded-lg bottom-14 right-14 w-96"
> -->
<aside
  *ngIf="isFormVisible"
  class="fixed z-50 flex gap-3 flex-col items-center justify-between p-5
       text-zinc-950 bg-gradient-to-tr from-gray-500 via-gray-300 to-gray-500
         rounded-lg bottom-14 right-14 w-96"
>
  <p
    *ngIf="!isConfirmationVisible"
    class="uppercase tracking-wide font-medium text-lg"
  >
    Subscribe to our newsletter!
  </p>
  <form
    *ngIf="!isConfirmationVisible; else confirmationMessage"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-3 items-center w-full"
    #subscriptionForm="ngForm"
  >
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Your name"
      class="rounded px-3 py-2 w-full"
      [(ngModel)]="subscription.name"
      required
    />
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Your e-mail"
      class="rounded px-3 py-2 w-full"
      [(ngModel)]="subscription.email"
      [email]="true"
      required
    />

    <div class="flex gap-5">
      <button
        type="button"
        (click)="onClose()"
        class="border-2 border-zinc-950 text-zinc-950 py-2 px-3 uppercase font-medium tracking-wide"
      >
        Close
      </button>
      <button
        type="submit"
        class="bg-zinc-950 border-zinc-400 border-2 text-gray-300 py-2 px-3 uppercase font-medium tracking-wide disabled:bg-zinc-500"
        [disabled]="!subscriptionForm.form.valid"
      >
        Subscribe
      </button>
    </div>
  </form>

  <ng-template #confirmationMessage>
    <p class="tracking-wide text-lg">Thank you for subscribing!</p>
    <button
      type="button"
      (click)="onClose()"
      class="border-2 bg-zinc-950 border-zinc-400 text-gray-300 py-2 px-3 uppercase font-medium tracking-wide"
    >
      Close
    </button>
  </ng-template>
</aside>
